@font-face {
  font-family: Oleo-Bold;
  src: url(../../assets/fonts/OleoScript-Bold.ttf) format('truetype');
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background-color: #678D58;
}

#logo {
  display: flex;
  flex-direction: row;
  margin: 12px;
}

.icon {
  font-size: 2em;
  margin: 2px;
}

h1 {
  font-family: Oleo-Bold;
  margin: 0;
}

p {
  margin: 0;
  color: #b8da99;
}

@media screen and (max-width: 800px) {
  .icon {
    font-size: 1.6em;
  }
  
  h1 {
    font-size: 1.4em;
  }
  
  p {
    font-size: 0.7em;
  }
}
