<footer>
  <div class="contact">
    <p>Contact Us:</p>
    <div class="phone">
      <p>Phone: <span class="phone-number">555-555-5555</span></p>
    </div>
    <div class="social">
      <fa-icon [icon]="facebookIcon" class="icon"></fa-icon>
      <fa-icon [icon]="instagramIcon" class="icon"></fa-icon>
      <fa-icon [icon]="githubIcon" class="icon"></fa-icon>
      <fa-icon [icon]="linkedInIcon" class="icon"></fa-icon>
      <fa-icon [icon]="twitterIcon" class="icon"></fa-icon>
    </div>
    <div class="email">
      <p>Email: <a href="mailto:example@gmail.com" class="email-address">example@gmail.com</a></p>
    </div>
  </div>
  <div class="makers">
    <p>Made by:</p>
    <ul>
      <li><span class="maker-name">Daniel</span></li>
      <li><span class="maker-name">Imran</span></li>
      <li><span class="maker-name">Stacey</span></li>
    </ul>
  </div>
</footer>


