<footer>
  <div class="contact-details">
    <div>
      <h5>Phone:</h5>
      <p>555-555-5555</p>
    </div>
    <div class="social-links">
      <a href="https://facebook.com/" target="_blank"><fa-icon [icon]="facebookIcon" class="icon"></fa-icon></a>
      <a href="https://www.instagram.com/" target="_blank"><fa-icon [icon]="instagramIcon" class="icon"></fa-icon></a>
      <a href="https://github.com/DIS-Multiverse" target="_blank"><fa-icon [icon]="githubIcon" class="icon"></fa-icon></a>
      <a href="https://www.linkedin.com/company/linkedin" target="_blank"><fa-icon [icon]="linkedInIcon" class="icon"></fa-icon></a>
      <a href="https://twitter.com/" target="_blank"><fa-icon [icon]="twitterIcon" class="icon"></fa-icon></a>
    </div>
    <div>
      <h5>Email:</h5>
      <p><a href="mailto:example@gmail.com">example@gmail.com</a></p>
    </div>
  </div>
  <div class="developer-details">
    <h5 class="heading">Created by:</h5>
    <div class="developers">
      <p class="developer">Daniel</p>
      <p class="developer">Imran</p>
      <p class="developer">Stacey</p>
    </div>
  </div>
</footer>
