footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #A6C48A;
  height: 100%;
}

.contact-details, .developers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-details {
  width: 75%;
  margin-top: 10px;
}

.developer-details {
  width: 25%;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-links > * {
  color: #49663E;
  font-size: 1.2em;
  margin: 2px;
}

h5 {
  text-align: center;
  margin: 0;
  color: #49663E;
}

p {
  color: #678D58;
  font-size: 0.9em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #678D58;
}

.developer {
  margin: 0 3px;
}


@media screen and (max-width: 1022px) {
  p {
    font-size: 0.7em;
  }

  .contact-details {
    width: 100%;
  }
  
  .developer-details {
    width: 30%;
  }
}