article {
  display: grid;
  grid-template-areas: 
    "a a"
    "b c"
    "b c"
  ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.grid-area-a {
  grid-area: a;
}

.grid-area-b {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-area-c {
  grid-area: c;
  display: grid;
  grid-gap: 15px;
}

/* Welcome Styling */

.welcome-container {
  border-radius: 30px;
  background-color: #74D3AE;
  box-shadow: 1px 1px 3px #396856;
}

.welcome-sub-container {
  margin: 15px;
}

h2 {
  color: #396856;
  font-size: 1.8rem;
}

.welcome-sub-container > p {
  color: #1A2418;
}

@media screen and (max-width: 1022px) {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}