<article>
  <div class="grid-area-a home-item welcome-container">
    <div class="welcome-sub-container">
      <h2>Welcome <em>user_name</em></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Arcu vitae elementum
        curabitur vitae nunc sed. Massa eget egestas purus viverra accumsan. At
        augue eget arcu dictum varius duis at consectetur lorem. Gravida dictum
        fusce ut placerat orci nulla pellentesque. Senectus et netus et
        malesuada fames.
      </p>
    </div>
  </div>
  <div class="grid-area-b home-item">
    <app-meal-of-month></app-meal-of-month>
  </div>
  <div class="grid-area-c">
    <app-bulletin-board></app-bulletin-board>
    <app-submit-idea></app-submit-idea>
  </div>
</article>
