.container {
  padding: 15px;
  border-radius: 30px;
  background-color: #396856;
  color: #1A2418;
  box-shadow: 1px 1px 3px #1A2418;
}

.bulletins-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h3 {
  margin: 5px 0;
  font-size: 1.4rem;
}

.bulletin {
  margin: 10px;
}

h4 {
  margin: 0 0 3px;
  font-size: 1.2rem;
}

.bulletin-link {
  color: #74D3AE;
}

@media screen and (max-width: 600px) {
  .bulletins-container {
    display: flex;
    flex-direction: column;
  }
}