.home-container{
  background-color: #DD9787;
  color: #52322B;
  box-shadow: 1px 1px 3px #52322B;
}

.bulletins-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h3 {
  margin: 5px 0;
  font-size: 1.4rem;
}

.bulletin {
  margin: 10px;
}

h4 {
  margin: 0 0 3px;
  font-size: 1.2rem;
}

.bulletin-link {
  color: #243121;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .bulletins-container {
    display: flex;
    flex-direction: column;
  }
}