<div class="container">
  <h3><fa-icon [icon]="tackIcon"></fa-icon> Bulletin Board</h3>
  <div class="bulletins-container">
    <div class="bulletin">
      <h4>Bulletin Title:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur 
        adipiscing elit suspendisse. To understand more
        click 
        <a class="bulletin-link">here</a>.
      </p>
    </div>
    <div class="bulletin">
      <h4>Bulletin Title:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur 
        adipiscing.
      </p>
    </div>
    <div class="bulletin">
      <h4>Bulletin Title:</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur 
        adipiscing elit suspendisse! Take a look
        <a class="bulletin-link">here</a>.
      </p>
    </div>
  </div>
</div>

