.container {
  padding: 15px;
  border-radius: 30px;
  background-color: #F6E7CB;
  color: #52322B;
  box-shadow: 1px 1px 3px #B1A283;
}

.img-and-titles {
  display: flex;
}

.titles-and-stats {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
} 

/* TODO: Set responsive img sizing */

#momImg {
  width: 55%; 
  box-shadow: 1px 1px 3px #52322B;
  border-radius: 5px;
}

h3 {
  margin: 5px 0;
}

h4 {
  margin: 0 0 3px;
}

.description, .stats {
  margin-top: 15px;
}