.container {
  padding: 15px;
  border-radius: 30px;
  background-color: #F6E7CB;
  color: #52322B;
  box-shadow: 1px 1px 3px #B1A283;
}

.img-and-titles {
  display: flex;
}

.titles-and-stats {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
} 

#momImg {
  width: 55%; 
  box-shadow: 1px 1px 3px #52322B;
  border-radius: 5px;
}

h3 {
  margin: 5px 0;
  font-size: 1.4rem;
}

h4 {
  margin: 0 0 3px;
  font-size: 1.2rem;
}

.description, .stats {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .img-and-titles {
    flex-direction: column-reverse;
    align-items: center;
  }

  #momImg {
    width: 90%; 
  }

  .titles-and-stats {
    margin-left: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}