<div class="container">
  <div class="img-and-titles">
    <img
      id="momImg"
      src="../../assets/imgs/meals/sweet-potato.jpg"
      alt="sweet potato fries with salsa and salad"
    />
    <div class="titles-and-stats">
      <div class="titles">
        <h3><fa-icon [icon]="medalicon"></fa-icon> Meal of the Month</h3>
        <h4><em>meal_name</em></h4>
      </div>
      <div class="stats">
        <p><b>Number of orders:</b> order_total</p>
        <p><b>Customer Rating:</b> rating_num</p>
      </div>
    </div>
  </div>
  <p class="description">
    Et ligula ullamcorper malesuada proin. Metus aliquam
    eleifend mi in nulla posuere. Morbi tristique senectus et netus. Pharetra
    pharetra massa massa ultricies mi quis hendrerit. Nibh mauris cursus mattis
    molestie a iaculis at erat. A lacus vestibulum sed arcu non odio. Duis convallis 
    convallis tellus id interdum.
  </p>
</div>
