.home-container {
  background-color: #4A856E;
  color: #243121;
  box-shadow: 1px 1px 3px #243121;
}

h3 {
  margin: 5px 0;
  font-size: 1.4rem;
}

label {
  margin: 5px 0;
}

button {
  color:  #243121;
  background-color: #67BB9B;
  border-color: #243121;
}

button:hover {
  color:  #67BB9B;
  background-color: #243121;
}