<h2>
  <fa-icon [icon]="carrotIcon" class="nav-link-icon"></fa-icon> Create New
  Meal
</h2>
<form class="add-edit-form">
  <div class="form-group">
    <label>Meal name:</label>
    <input type="text" class="form-control form-input" placeholder="Meal name" />
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>Ingredients:</label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>Allergens:</label>
    <div class="check-boxes">
      <div *ngFor="let allergy of allergies" class="form-check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">
          {{ allergy }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Meal Type:</label>
    <small>Select all relevant options</small>
    <div class="check-boxes">
      <div *ngFor="let mealType of mealTypes" class="form-check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">
          {{ mealType }}
        </label>
      </div>
    </div>
  </div>
  <button class="form-button" type="submit">Submit</button>
</form>