<div *ngIf="!successView">
  <h2>
    <fa-icon [icon]="carrotIcon" class="nav-link-icon"></fa-icon> Create New
    Meal
  </h2>
  <form (ngSubmit)="onSubmit()" #addMealForm="ngForm" class="border-styling">
    <div class="form-group">
      <label>*Meal name:</label>
      <input
        type="text"
        class="form-control form-input"
        placeholder="Meal name"
        name="name"
        maxlength="50"
        #name="ngModel"
        [(ngModel)]="mealName"
        required
      />
      <small *ngIf="name.invalid && name.touched" class="invalid-message"
        >Meal name is required</small
      >
    </div>
    <div class="form-group">
      <label>*Ingredients:</label>
      <small>Seperate each ingredient with a comma and space</small>
      <textarea
        class="form-control"
        name="ingredients"
        #ingredients="ngModel"
        maxlength="250"
        [(ngModel)]="ingredientArr"
        required
      ></textarea>
      <small
        *ngIf="ingredients.invalid && ingredients.touched"
        class="invalid-message"
        >Ingredients are required</small
      >
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea
        class="form-control"
        name="description"
        maxlength="250"
        #description="ngModel"
        [(ngModel)]="mealDesc"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Allergens:</label>
      <div class="check-boxes">
        <div *ngFor="let allergy of allergies" class="form-check">
          <input
            class="form-check-input"
            name="{{ allergy.name }}"
            type="checkbox"
            value="{{ allergy }}"
            ngModel
          />
          <label class="form-check-label">
            {{ allergy.name }}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Meal Type:</label>
      <small>Select all relevant options</small>
      <div class="check-boxes">
        <div *ngFor="let mealType of mealTypes" class="form-check">
          <input
            class="form-check-input"
            name="mealTypes"
            type="checkbox"
            value="{{ mealType }}"
            ngModel
          />
          <label class="form-check-label">
            {{ mealType }}
          </label>
        </div>
      </div>
    </div>
    <button
      [ngClass]="{
        'form-button': addMealForm.valid,
        'disabled-button': !addMealForm.valid
      }"
      type="submit"
      [disabled]="!addMealForm.valid"
    >
      Submit
    </button>
    <button
      [ngClass]="{
        'form-cancel-button': addMealForm.touched,
        'disabled-button': !addMealForm.touched
      }"
      (click)="onClearClick()"
      [disabled]="!addMealForm.touched"
    >
      Clear
    </button>
  </form>
</div>
<div *ngIf="successView" class="border-styling">
  <p>Meal successfully added!</p>
  <button class="form-button" (click)="onBackClick()">Back</button>
</div>
