@font-face {
  font-family: Vaz;
  src: url(../assets/fonts/Vazirmatn-Regular.ttf) format('truetype');
}

* {
  font-family: Vaz;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
}

section {
  display: grid;
  grid-template-rows: 1fr;
}

.nav-bar-open {
  grid-template-columns: 18% 82%;
}

.nav-bar-closed {
  grid-template-columns: 6% 94%;
}

@media screen and (max-width: 1022px) {
  #mainSection {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
  }
}
