@font-face {
  font-family: Vaz;
  src: url(../assets/fonts/Vazirmatn-Regular.ttf) format('truetype');
}

* {
  font-family: Vaz;
}

main {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  height: 100%;
}

section {
  display: grid;
  grid-template-rows: 1fr;
}

.nav-bar-open {
  grid-template-columns: 18% 82%;
}

.nav-bar-closed {
  grid-template-columns: 6% 94%;
}

.router-content {
  padding: 23px;
}

@media screen and (max-width: 1022px) {
  #mainSection {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 9.4fr;
  }

  .router-content {
    padding: 15px;
  }
}
