aside, ul, span {
  height: 100%;
}

aside {
  background-color: #4A856E;
  color: #243121;
  box-shadow: 1px 0 3px #67BB9B;
}

.caret-left-container {
  padding-top: 20px;
  text-align: center;
}

ul, span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.caret-right-icon {
  font-size: 3rem;
}

.caret-left-icon {
  font-size: 2.5rem;
}

a {
  color: #243121;
  text-decoration: none;
  font-size: large;
  padding: 0.5em;
}

.caret-icon:hover {
  cursor: pointer;
  transition: ease-in-out 0.1s;
}

a:hover {
  border: 2px solid #243121;
  border-radius: 2em;
}

.caret-right-icon:hover {
  color: #67BB9B;
  font-size: 3.8rem;
}

.caret-left-icon:hover {
  color: #67BB9B;
}

.nav-link-active {
  border: 2px solid #243121;
  border-radius: 2em;
}

.nav-link-icon {
  margin-right: 8px;
}

p {
  display: inline;
}

@media screen and (max-width: 1022px) {
  ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav-link-active {
    color: #67BB9B;
    border: none !important;
  }
}
