<h2>
  <fa-icon [icon]="addUserIcon" class="nav-link-icon"></fa-icon> Add New
  Customer
</h2>
<form class="add-form">
  <div class="form-group">
    <label>Email address:</label>
    <input type="email" class="form-control form-input" placeholder="Enter email" />
  </div>
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" class="form-control form-input" placeholder="First name" />
  </div>
  <div class="form-group">
    <label>Last Name:</label>
    <input type="text" class="form-control form-input" placeholder="Last name" />
  </div>
  <div class="form-group">
    <label>Address:</label>
    <input type="text" class="form-control form-input" placeholder="Address" />
  </div>
  <div class="form-group age">
    <label>Age:</label>
    <input type="number" class="form-control form-input" placeholder="Age" />
  </div>
  <div class="form-group">
    <label>Allergies:</label>
    <div class="check-boxes">
      <div *ngFor="let allergy of allergies" class="form-check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">
          {{ allergy }}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Conditions:</label>
    <small>Select all relevant options</small>
    <div class="check-boxes">
      <div *ngFor="let conditon of conditions" class="form-check">
        <input class="form-check-input" type="checkbox" />
        <label class="form-check-label">
          {{ conditon }}
        </label>
      </div>
    </div>
  </div>
  <button class="form-button" type="submit">Submit</button>
</form>