aside, ul, span {
  height: 100%;
}

aside {
  background-color: #A6C48A;
}

ul, span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.caret-icon {
  color: #678D58;
}

.caret-right-icon {
  font-size: 3rem;
}

.caret-left-icon {
  font-size: 2.5rem;
}

/* TODO: Adapt styling for small screens */

a {
  color: #678D58;
  text-decoration: none;
  font-size: large;
  padding: 0.5em;
}

a:hover, .caret-icon:hover {
  cursor: pointer;
  color: #49663E;
  transition: ease-out 0.1s;
}

a:hover {
  border: 2px solid #49663E;
  border-radius: 2em;
}

.nav-link-active {
  color: #49663E;
  border: 2px solid #49663E;
  border-radius: 2em;
}

.nav-link-icon {
  margin-right: 8px;
}