/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: Vaz;
  src: url(./assets/fonts/Vazirmatn-Regular.ttf) format('truetype');
}

* {
  font-family: Vaz;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #F5F5F4;
}

h2 {
  margin-bottom: 15px;
  color: #4A856E;
}

h3 {
  font-weight: bold;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 10px 2px;
  padding: 7px;
  border: 2px solid;
  border-radius: 2em;
}

button:hover {
  transition: ease-out 0.1s;
}

/* Shared Home Page styling */

.home-container {
  padding: 15px;
  border-radius: 30px;
}

/* Shared Form Styling */

.border-styling {
  border-radius: 30px;
  border: 2px solid #4A856E;
  color: #243121;
  padding: 20px 25px;
}

small {
  display: block;
  margin: 5px 0;
}

.form-input {
  border-radius: 2em;
}

.form-button {
  color: #396856;
  background-color: #67BB9B;
  border-color: #396856;
}

.form-button:hover {
  color: #67BB9B;
  background-color: #396856;
}

.form-cancel-button {
  color:  #52322B;
  background-color: #F1EADB;
  border-color: #52322B;
}

.form-cancel-button:hover {
  color: #F1EADB;
  background-color: #52322B;
}

.disabled-button {
  color: #BBBBB9;
  background-color: #F5F5F4;
  border-color: #BBBBB9;
}

.form-group {
  padding: 10px 0;
}

.form-check {
  margin: 5px 10px;
}

.check-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Shared table styling */

table {
  width: 100%;
  border: 2px solid #4A856E;
}

th {
  color: #396856;
  background-color: #67BB9B;
}

tbody {
  border: 2px solid #4A856E;
  color: #243121;
  padding: 20px 25px;
}

th, td {
  padding-left: 10px;
}

tr:nth-child(even) {
  background-color: #FFFF;
}
  


@media screen and (max-width: 600px) {
  .check-boxes {
    display: flex;
    flex-direction: column;
  }
}
